body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 5vh;
    align-items: center;
    background-color: rgba(102, 176, 241, 1);
    color: white;
    border-radius: 45px;
    margin-bottom: 20px;
}
#logo {
    width: 40px;
    height: auto;
    cursor: pointer;
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(200deg);
}
.navbarbuttons {
    background-color: rgba(240, 255, 255, .3);
    border: none;
    width: 100px;
    border-radius: 45px;
    color: aliceblue;
    cursor: pointer;
}
.homecontent {
    display: block;
    text-align: center;
}
.content {
    display: none;
    width: 50%;
}
.contenttitle, .label, .btns, .splash {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(102, 176, 241); 
}
.splash { font-style: italic; }
.label, .field, .btns { margin-top: 10px; }
.label { display: inline-block; width: 150px; }
.field { width: 250px; padding: 5px; }
.btns { padding: 8px 15px; border-radius: 5px; border: 1px solid rgb(102, 176, 241); background: white; cursor: pointer;}
#success-toast { background: #4BB543; color: white; padding: 10px; margin-top: 15px; border-radius: 5px; text-align: center; }
.toast-hidden { display: none; }